<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="3" >
<!-- Parallel Cross-browser testing is done here -->

<test name="TestingOnChrome">
<parameter name="browserName" value="chrome"></parameter>
<classes>
<class name="Package_scroll.Scrollpage"/>
</classes>
</test>

<test name="TestingOnFirefox">
<parameter name="browserName" value="firefox"></parameter>
<classes>
<class name="Package_scroll.Scrollpage"/>
</classes>
</test>

</suite>